@import '../../theme';

.footer {
    bottom: 0;
    background-color: black;
    color: white;
    padding: 0;
    position: fixed;
    width: 100%;
    margin: 0;
}

.button-group {
    text-align: center;
}

.button-group > .mat-raised-button {
    // margin-left: 0.5em;
    // margin-right: 0.5em;
    // margin-bottom: 0.5em;
    margin: 0.5em;
}

.footer-text {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .footer {
        position: relative;
    }
}