<mat-card class="plant-card">
    <mat-card-header>
      <mat-card-title style="padding: 5px 5px 0 0">
        <mat-icon style="vertical-align: middle">list</mat-icon>
        Legend
      </mat-card-title>
      <mat-card-subtitle>Color codes</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <button *ngFor="let unit of units"
      mat-raised-button 
      [disabled]="unit.status === 'not-configured'" 
      class="unit-card" 
      [ngClass]="{
        'syncd unit-grow': unit.status==='syncd',
        'not-syncd': unit.status==='not-syncd',
        'not-available': unit.status==='not-available'
      }"
      (click)="onShowData(unit.unitno)"
      matTooltip="Timestamp:&#13;{{unit.timestamp}}"
      matTooltipClass="timestamp">
        <mat-icon class="buffering" *ngIf="unit.status === 'buffering'">autorenew</mat-icon>U#{{unit.unitno}}</button> -->
        
        <button mat-raised-button class="unit-card syncd" style="width: auto">Time Synchronized</button>
        <button mat-raised-button class="unit-card not-syncd" style="width: auto">Not Time Synchronized</button>
        <button mat-raised-button class="unit-card not-available" style="width: auto">Not Available</button>
        <button mat-raised-button disabled="true" class="unit-card" style="width: auto">Not Configured</button>
    </mat-card-content>
  </mat-card>