.header-toolbar {
    position: fixed;
    top: 0;
    z-index: 1;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.main-container {
    text-align: center;
    background-color: white;
}

.main-container::-webkit-scrollbar {
    display: none;
}

.plant-container {
    margin: 1em;
    padding: 0;
    display: inline-table;
}


@media screen and (max-width: 800px) {
    .main-container {
        min-height: 100vh !important;
    }
}