<mat-toolbar #topBar color="primary" class="mat-elevation-z1">DCS Dashboard</mat-toolbar>

<mat-grid-list #mainGrid cols="3" rowHeight="{{matGridRowHeight}}px">
    <mat-grid-tile><app-ktps [plantName]="'ktps'" [unitLinks]="dcsLinks['ktps']" class="plant-card"></app-ktps></mat-grid-tile>
    <mat-grid-tile><app-bktpp class="plant-card"></app-bktpp></mat-grid-tile>
    <mat-grid-tile><app-btps class="plant-card"></app-btps></mat-grid-tile>
    <mat-grid-tile><app-stps class="plant-card"></app-stps></mat-grid-tile>
    <mat-grid-tile><app-sgtpp class="plant-card"></app-sgtpp></mat-grid-tile>
    <mat-grid-tile><app-legend class="plant-card"></app-legend></mat-grid-tile>
</mat-grid-list>