<mat-toolbar #topBar color="primary" class="mat-elevation-z1">DCS Dashboard</mat-toolbar>

<mat-grid-list #mainGrid cols="3" rowHeight="{{matGridRowHeight}}px">
    <mat-grid-tile><app-plant [plantName]="'ktps'" [unitLinks]="dcsLinks['ktps']" class="plant-card"></app-plant></mat-grid-tile>
    <mat-grid-tile><app-plant [plantName]="'bktpp'" [unitLinks]="dcsLinks['bktpp']" class="plant-card"></app-plant></mat-grid-tile>
    <!-- <mat-grid-tile><div class="plant-card"></div></mat-grid-tile> -->
    <mat-grid-tile><div class="plant-card"></div></mat-grid-tile>
    <mat-grid-tile><div class="plant-card"></div></mat-grid-tile>
    <mat-grid-tile><div class="plant-card"></div></mat-grid-tile>

    <mat-grid-tile><app-legend class="plant-card"></app-legend></mat-grid-tile>
</mat-grid-list>