.fill-remaining-space {
    flex: 1 1 auto;
}

.table-container {
    height: 75vh;
    // width: 1000px;
    overflow: auto;
    overflow-x: scroll;
}

table {
    width: 1000px;
}

.table-header {
    white-space: normal;
}

.table-header-text {
    font-size: 0.8em;
}

::ng-deep .mat-dialog-container {
    padding: 0;
    // width: 100vw;
}

.btn-dialog-close {
    background-color: #d6d6d6;
}

.mat-header-row {
    background-color: #d9dadc;
    min-height: 0;
}

.column-header-text {
    font-weight: bold !important;
    font-size: 1em !important;
}

.no-search-column-header-text {
    font-weight: bold !important;
    font-size: 1em !important;
}

.mat-cell, .mat-header-cell {
    padding-right: 10px;
    font-size: initial;
    // word-break: break-all;
}

.mat-row:nth-child(even) {
    background-color: cornsilk;
}

.mat-row:nth-child(odd) {
    background-color: white;
}

.mat-row:hover {
    background-color: burlywood;
}

.filterHeader {
    display: block;
    padding-top: 1em;
}

.filter {
    display: block;
    padding-right: 2em;
}

::ng-deep .mat-form-field-infix {
    // padding: 0 !important;
    border-top: 0 !important;
    // position: inherit !important;
}

.display-column-header-text {
    display: none;
}

.table-header {
    white-space: normal;
}

.data-timestamp {
    color: #15ff15;
    font-family: monospace;
    font-weight: bold;
    font-size: 0.8em;
    background: black;
    border: inset;
    margin: 0 0.5em;
    line-height: 1em;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .hide-column {
        display: none;
    }

    .mat-cell, .mat-header-cell {
        // padding-right: 10px;
        font-size: 0.7em;
        // word-break: break-all;
    }
}

// @media screen and (max-width: 800px) {
//     .mat-cell {
//         font-size: 0.7em;
//     }

//     .mat-header-cell {
//         font-size: 0.8em !important;
//     }

//     .column-header-text {
//         display: none;
//     }

//     .display-search {
//         display: none;
//     }

//     .display-column-header-text {
//         display: inline;
//         font-weight: bold !important;
//         font-size: 1em !important;
//     }

//     .timestamp {
//         font-size: 1em;
//     }

//     // .timestamp-text {
//     //     display: none;
//     // }
// }