.fill-remaining-space {
    flex: 1 1 auto;
}

.table-container {
    height: 70vh;
    overflow: auto;
}

::ng-deep .mat-dialog-container {
    padding: 0;
    width: 100vw;
}

.btn-dialog-close {
    background-color: #d6d6d6;
}

.mat-header-cell {
    background-color: #d9dadc;
    font-weight: bold;
    font-size: 1em;
}

.mat-cell, .mat-header-cell {
    padding-right: 10px;
}

.mat-row:nth-child(even) {
    background-color: cornsilk;
}

.mat-row:nth-child(odd) {
    background-color: white;
}

@media screen and (max-width: 800px) {
    .mat-cell {
        font-size: 0.7em;
    }

    .mat-header-cell {
        font-size: 0.8em;
    }
}