.fill-remaining-space {
    flex: 1 1 auto;
}

.table-container {
    height: 70vh;
    overflow: auto;
}

::ng-deep .mat-dialog-container {
    padding: 0;
    width: 100vw;
}

.btn-dialog-close {
    background-color: #d6d6d6;
}

.mat-header-row {
    background-color: #d9dadc;
    min-height: 0;
}

.column-header-text {
    font-weight: bold !important;
    font-size: 1em !important;
}

.no-search-column-header-text {
    font-weight: bold !important;
    font-size: 1em !important;
}

.mat-cell, .mat-header-cell {
    padding-right: 10px;
}

.mat-row:nth-child(even) {
    background-color: cornsilk;
}

.mat-row:nth-child(odd) {
    background-color: white;
}

.filterHeader {
    display: block;
    padding-top: 1em;
}

.filter {
    display: block;
    padding-right: 2em;
}

::ng-deep .mat-form-field-infix {
    // padding: 0 !important;
    border-top: 0 !important;
    // position: inherit !important;
}

.display-column-header-text {
    display: none;
}

@media screen and (max-width: 800px) {
    .mat-cell {
        font-size: 0.7em;
    }

    .mat-header-cell {
        font-size: 0.8em !important;
    }

    .column-header-text {
        display: none;
    }

    .display-search {
        display: none;
    }

    .display-column-header-text {
        display: inline;
        font-weight: bold !important;
        font-size: 1em !important;
    }
}