@import '../../theme';

.plant-card {
    padding: 0 !important;
}

.plant-card .mat-card {
    position: static !important;
    padding: 0 !important;
}

.plant-card .mat-card-header {
    background-color: black;
    color: white;
}

.plant-card .mat-card-title {
    width: max-content;
}

.plant-card .mat-card-subtitle {
    color: white !important;
    margin-bottom: 0.5em !important;
}

.plant-card .mat-card-content {
    height: 10em;
    width: 25em;
}

.unit-card {
    margin: 1em;
}

.timestamp {
    font-size: 1.2em;
    text-align: center;
    white-space: pre-line;
}

.unit-grow {
    transition: transform 0.2s !important;
}

.unit-grow:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .plant-card .mat-card-content {
        width: 22em !important;
    }
}