mat-card {
    position: static !important;
    padding: 0 !important;
}

mat-card-header {
    background-color: black;
    color: white;
}

mat-card-title {
    width: max-content;
}

mat-card-subtitle {
    color: white !important;
    margin-bottom: 0.5em !important;
}

mat-card-content {
    height: 10em;
    width: 22em;
}

.unit-card {
    margin: 1em;
}