@import '../../theme';

.plant-card {
    padding: 0 !important;
    height: 100%;
}

.plant-card .mat-card-header {
    height: 25%;
    // background-color: rgb(204, 204, 204);
    background-color: black;
}

.plant-card .mat-card-title {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    color: white;
}

.plant-card .mat-card-subtitle {
    margin-top: 0.5em;
    // margin-bottom: 0.2em;
    color: white;
}

.plant-card .mat-card-content {
    height: 75%;
    // background-color: rgb(204, 204, 204);
    // padding: 1.2em;
    text-align: center;
}

.unit-card {
    width: 25%;
    height: 25%;
    margin: 0.5em !important;
}

@media screen and (max-width: 800px), screen and (max-height: 500px) {
    .plant-card .mat-card-subtitle {
        display: none;
    }

    .plant-card .mat-card-title {
        margin: 0 !important;
    }

    .plant-card .mat-card-content {
        padding: 0 !important;
    }

    .unit-card {
        margin: 0.3em !important;
    }

    .mat-raised-button {
        padding: 0 !important;
        line-height: 0 !important;
    }
}

.timestamp {
    font-size: 1.2em;
    text-align: center;
    white-space: pre-line;
}

@media screen and (max-width: 450px) {
    .plant-card .mat-card-content {
        overflow-x: auto;
    }
}

.buffering {
    animation: inf-spin 2s infinite linear;
}

@keyframes inf-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.syncd {
    background-color: mat-color($app-accent);
}

.not-syncd {
    background-color: #ff9838;
}

.not-available {
    background-color: mat-color($app-warn);
}